:root {
  --light-green: #aced67;
  --primary-green: #6e9842;
  --dark-black: #2f2e2e;
  --black: #505050;
  --white: #ffffff;
  --darker-white: #f3f3f3;
  --outline: #c5c5c5;
  --neutral-color: #c6c2c2;
  --primary-green-transparent: rgba(110, 152, 66, 0.5);
  --gradient-green: linear-gradient(
    90deg,
    #6e9842 0%,
    #88bc52 37%,
    #a0e15a 100%
  );
  --glass-grey: #f4f4f4;
  --secondary-red: #ff8f8f;
  --primary-red: #ff0000;
  --secondary-green: #3aa981;
  --dark-red: #ff0000;
  --font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font-family);
  color: var(--black);
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
h4 {
  font-size: 14px;
  font-weight: bold;
}
h5 {
  font-size: 12px;
  font-weight: bold;
}
h6 {
  font-size: 10px;
  font-weight: bold;
}
p,
a {
  font-size: 14px;
  font-weight: normal;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 17px;
  height: 40px;
  background: var(--primary-green);
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--white);
  border: none;
  &:hover {
    background: darken(#6e9842, 10%);
  }
}

.input-primary,
.input-secondary {
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
  max-width: 613px;
  height: 56px;
  border: 1px solid var(--outline);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: 18px;
  &:focus-within {
    border-color: var(--black);
  }
}

.input-primary {
  background: rgba(172, 237, 103, 0.06);
}

.input-secondary {
  padding: 12px 16px 12px 10px;
  max-width: 364px;
  min-width: 240px;
  height: 40px;
  background: var(--white);
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  max-width: 613px;
  height: 100%;
  background: var(--white);
  border: 1px solid var(--outline);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: 18px;
}

.card--primary {
  background: var(--gradient-green);
}

.card--secondary {
  background: var(--white);
}
