@import "./global"; // Import global styles if needed

// Global variables from :root (convert them into SCSS variables)
$light-green: #aced67;
$primary-green: #6e9842;
$black: #505050;
$white: #ffffff;
$darker-white: #f3f3f3;
$outline: #c5c5c5;
$neutral-color: #c6c2c2;
$gradient-green: linear-gradient(90deg, #6e9842 0%, #88bc52 37%, #a0e15a 100%);
$font-family: "Poppins", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $font-family;
}

.main-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/premium-photo/group-people-sitting-chatting-tree_670382-45938.jpg")
    no-repeat center center / cover;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;

  .logo {
    width: auto;
    height: 60px;
    background: none;
    mix-blend-mode: multiply;
    filter: brightness(1.1);
  }
}

.form-box {
  @extend .card; // Use global card style
  width: 420px;
  text-align: center;
  margin-top: 50px;
  backdrop-filter: blur(5px);
}

.title {
  @extend h2; // Use global h2 style
  color: $white;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  input {
    @extend .input-secondary;
    text-align: center;

    &::placeholder {
      color: rgba(255, 255, 255, 0.9);
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.submit-btn {
  @extend .btn;
  width: 100%;
  max-width: 250px;
}

.link-text {
  margin-top: 10px;
  color: $white;

  .link-word {
    color: $primary-green;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $light-green;
    }
  }
}

.divider {
  margin: 20px 0;
  position: relative;
  text-align: center;
  color: $white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: $white;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.google-btn {
  @extend .btn;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 250px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.2);
  color: $black;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px auto;
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  .google-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}
