.chats-container {
  display: flex;
  height: 100vh;
  background-color: #f7f7f7;
}

.chats-container > * {
  flex: 0 0 30%;
  border-right: 1px solid #ccc;
}

.chats-container > :last-child {
  border-right: none;
}
