@use "./global.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;

  p {
    margin-top: var(--padding-medium);
    color: var(--black);
    font-size: 0.9rem;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background: var(--gradient-green);
  padding: var(--padding-small);
  border-radius: var(--border-radius-large);
  gap: var(--padding-large);

  @media screen and (max-width: --breakpoint-tablet) {
    flex-direction: column;
  }
}

.how-it-works {
  flex: 1;
  text-align: center;

  h1 {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: var(--padding-large);
  }

  .how-it-works-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--padding-small);

    @media screen and (max-width: --breakpoint-tablet) {
      flex-direction: column;
    }

    .how-it-works-content-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--white);
      font-size: 1rem;

      h4 {
        color: var(--white);
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: var(--padding-small);
      }
    }
  }
}

.item-icon-frame {
  border-radius: 50%;
  background: var(--white);
  padding: var(--padding-small);
  color: var(--black);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 2rem;
  }
}

.learn-more-card {
  display: flex;
  flex-direction: column;
  background: var(--glass-grey);
  padding: var(--padding-medium);
  border-radius: var(--border-radius-medium);
  text-align: left;
  max-width: 15.625rem;
  box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  margin: 1rem 7rem;

  @media screen and (max-width: --breakpoint-tablet) {
    margin: 1rem 0;
    align-items: center;
  }

  h4 {
    color: var(--dark-black);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: var(--padding-small);

    @media screen and (max-width: --breakpoint-tablet) {
      margin-bottom: 0;
    }
  }

  p {
    color: var(--black);
    font-size: 0.95rem;
    margin-bottom: var(--padding-small);
  }

  button {
    background: var(--darker-white);
    color: var(--black);
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;

    &:hover {
      background: var(--white);
    }
  }
}
