@use "./global" as *;

.navbar {
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 1000;
  background: var(--darker-white);
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;

  .navbar-top {
    padding: 1rem 0;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: var(--padding-medium);

      img {
        width: 100%;
      }
    }

    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  .navbar-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    color: var(--black);
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: var(--darker-white);
    }

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
    }

    .nav-link {
      padding: 15px 0;
      color: var(--black);
      transition: color 0.3s ease;
      display: flex;

      .nav-link-icon {
        width: 24px;
        height: 24px;
        margin-left: 25px;
      }

      p {
        padding-left: 25px;
      }
    }

    .active {
      background: var(--white);
      border-left: 8px solid var(--light-green);
      width: 100%;
    }
  }

  .navbar-bottom {
    padding: 1rem 0;

    .bottom-text {
      padding: var(--padding-medium);
      font-size: small;
    }
  }
}
